export ANTHROPIC_BASE_URL=https://openrouter.ai/api
export ANTHROPIC_AUTH_TOKEN=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
export ANTHROPIC_API_KEY=
export ANTHROPIC_MODEL=z-ai/glm-4.5-air
export YANDEX_FOLDER_ID="b1gvqe9ngl38rv9anhdn "
export YANDEX_IAM_TOKEN="t1.9euelZqdjZycjsyWls-Mio3GlMfKz-3rnpWajJeYkZuJypCSy4-ZlczLkcfl8_c_HAAy-e9JYxl4_N3z939KfTH570ljGXj8zef1656Vmp6WmZ6XmMvLypaWyZSXxo-c7_zF656Vmp6WmZ6XmMvLypaWyZSXxo-c.Mw4aOgIdDMeTUupkZk6XnNxePL-cx1tesyb2e9CRjIYXTEwqPAWs_HrCUPkPR4QoxY7ZJ2NAPHwUsovfmxnHCg"
export CLOUDMERSIVE_API_KEY="f05fd521-9a80-43b1-a147-7ccdd1ecdb3e"
export ABBYY_APP_ID="f814afee-a4bd-439b-aa98-ed570fa4a01e"
export ABBYY_PASSWORD="uz/TAyGuVt60agU8OkPGk1cm"
export OCRAPI_KEY="sk_QmF6iFAM53zev8uoz4V18pJPfgJo1IgGp5mUDJn92cRy7F7e"
