export ANTHROPIC_BASE_URL=https://openrouter.ai/api
export ANTHROPIC_AUTH_TOKEN=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
export ANTHROPIC_API_KEY=
export ANTHROPIC_MODEL=z-ai/glm-4.5-air
